.game-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.score {
  font-weight: 300;
  font-size: 36px;
  margin: 5px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2px;
  background: white;
}

.image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 20px;
}

.countdown {
  height: 10px;
  width: 95%;
  margin-bottom: 5px;
}

.countdown .progress {
  height: 10px;
}

.countdown .progress-bar {
  max-width: 100%;
  background-color: #555fc7;
}

.notransition {
  transition: none !important;
}

.choises {
  margin: 5px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-auto-rows: 1fr;
  gap: 5% 2%;
}

.choises button {
  width: 100%;
  min-height: 50px;
  background-color: #42434d;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: 300;
  font-size: 16px;
  outline: none;
}
.btn-right {
  background-color: #078537 !important;
}

.btn-wrong {
  background-color: #900909 !important;
}

.choises button:hover {
  background-color: rgba(50, 68, 92, 0.377);
}
